<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Kimbugwe Fredrick">
    <!-- description -->
    <meta name="description" content="Kimbugwe Fredrick is a freelance photographer,filmaker and Graphics Designer based in Kampala Uganda, with expertise in Live events;Conferences, Concerts, Runways, Sports, Weddings, Parties name it I cover it. Also if you need graphics design for your brand endevors don't hesitate.">
    <!-- keywords -->
    <meta name="keywords" content="Creative, photographer in Uganda, filmmaker, Graphics Designer, Website designer, Product photographer,Kimbugwe Fredrick,conference photography,Sports,Wedding,introduction ceremonies,corporate parties,Corporate events">

    <!-- favicon -->
    <link rel="shortcut icon" href="~/images/favicon.png">
    <title>Kimbugwe Fredrick - @ViewData["Title"] </title>
    <!-- animation -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- et line icon -->
    <link rel="stylesheet" href="~/css/et-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- justified gallery -->
    <link rel="stylesheet" href="~/css/justified-gallery.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">
    <link rel="stylesheet" href="~/revolution-slider/revolution-addons/polyfold/css/revolution.addon.polyfold.css">
    <!-- bootsnav -->
    <link rel="stylesheet" href="~/css/bootsnav.css">
    <!-- style -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css" />
    <!--[if IE]>
        <script src="~/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="width-100">
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav header-light background-white navbar-expand-lg">
                <div class="container nav-header-container">
                    <!-- start logo -->
                    <div class="col-auto pl-lg-0 order-xs-last">
                        <a href="/Home" title="Kimbugwe Fredrick" class="logo"><img src="~/images/logo.png" data-rjs="images/logo@2x.png" class="logo-dark default" alt="Pofo"></a>
                    </div>

                    <!-- end logo -->
                    <div class="col accordion-menu pr-md-3 order-xs-first">
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                <!-- start menu item -->
                                <li class="dropdown megamenu-fw">
                                    <a href="/Home">Portifolio</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <div class="menu-back-div dropdown-menu megamenu-content mega-menu collapse mega-menu-full">
                                        <ul>
                                            <!-- start sub menu column  -->
                                            <li class="mega-menu-column col-lg-3">
                                                <!-- start sub menu item  -->
                                                <ul>
                                                    <li class="dropdown-header">Classic Homepages</li>
                                                    <li><a href="home-classic-corporate.html">Classic corporate</a></li>
                                                    <li><a href="home-classic-digital-agency.html">Classic digital agency</a></li>
                                                    <li><a href="home-classic-innovation-agency.html">Classic innovation agency</a></li>
                                                </ul>
                                                <!-- end sub menu item  -->
                                            </li>
                                            <!-- end sub menu column -->
                                            <!-- start sub menu column -->
                                            <li class="mega-menu-column col-lg-3">
                                                <!-- start sub menu item  -->
                                                <ul>
                                                    <li class="dropdown-header">Creative Homepages</li>
                                                    <li><a href="home-creative-studio.html">Creative studio</a></li>
                                                    <li><a href="home-creative-business.html">Creative business</a></li>
                                                    <li><a href="home-creative-simple-portfolio.html">Creative simple portfolio</a></li>
                                                </ul>
                                                <!-- end sub menu item  -->
                                            </li>
                                            <!-- end sub menu column  -->
                                            <!-- start sub menu column  -->
                                            <li class="mega-menu-column col-lg-3">
                                                <!-- start sub menu item  -->
                                                <ul>
                                                    <li class="dropdown-header">Portfolio Homepages</li>
                                                    <li><a href="home-portfolio-minimal.html">Portfolio minimal</a></li>
                                                    <li><a href="home-portfolio-multiple-carousel.html">Portfolio multiple carousel</a></li>
                                                    <li><a href="home-portfolio-centered-slides.html">Portfolio centered slides</a></li>
                                                </ul>
                                                <!-- end sub menu item  -->
                                            </li>
                                            <!-- end sub menu column  -->
                                            <!-- start sub menu column  -->
                                            <li class="mega-menu-column col-lg-3">
                                                <!-- start sub menu item  -->
                                                <ul>
                                                    <li class="dropdown-header">Blog Homepages</li>
                                                    <li><a href="home-blog-grid.html">Blog grid</a></li>
                                                    <li><a href="home-blog-masonry.html">Blog masonry</a></li>
                                                    <li><a href="home-blog-clean.html">Blog clean</a></li>
                                                </ul>
                                                <!-- end sub menu item  -->
                                            </li>
                                            <!-- end sub menu column  -->
                                        </ul>
                                        <!-- end sub menu -->
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="/Home/About">About</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Home/Blogs">Blog</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/Home/Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pr-lg-0">
                        <div class="header-social-icon d-md-inline-block">
                            <a href="../../../https@www.facebook.com/default.htm" title="Facebook" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                            <a href="../../../https@twitter.com/default.htm" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->
        </header>
        <main role="main">
            @RenderBody()
            <footer>
                <div class="container">
                    &copy; @DateTime.Now.Year - Kimbugwe Fredrick - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </main>
    </div>

    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/modernizr.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/js/skrollr.min.js"></script>
    <script type="text/javascript" src="~/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="~/js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="~/js/bootsnav.js"></script>
    <script type="text/javascript" src="~/js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="~/js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="~/js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="~/js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="~/js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="~/js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="~/js/classie.js"></script>
    <script type="text/javascript" src="~/js/hamburger-menu.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="~/js/counter.js"></script>
    <!-- fit video -->
    <script type="text/javascript" src="~/js/jquery.fitvids.js"></script>

    <!-- skill bars -->
    <script type="text/javascript" src="~/js/skill.bars.jquery.js"></script>
    <!-- justified gallery -->
    <script type="text/javascript" src="~/js/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="~/js/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="~/js/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="~/js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/revolution-slider/revolution-addons/polyfold/js/revolution.addon.polyfold.min.js"></script>

    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- setting -->
    <script type="text/javascript" src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
