@{
    ViewData["Title"] = "About";
}
<section class="wow fadeIn py-5">
    <div class="container p-0">
        <div class="row">
            <div class="col-12 col-lg-5 text-center md-margin-50px-bottom wow fadeInLeft">
                <img src="~/images/image-8.jpg" alt="" class="width-100">
            </div>
            <div class="col-12 col-lg-7 padding-six-lr md-padding-eight-lr sm-padding-eight-lr text-center text-lg-left sm-padding-15px-lr wow fadeInRight last-paragraph-no-margin" data-wow-delay="0.2s">
                <h5 class="font-weight-600 alt-font text-extra-dark-gray">My Journey, Expertise,and Future</h5>
                <p class="width-95">Kimbugwe Fredrick is a creative entrepreneur, Photographer, a graphics design guru, Filmmaker, and a loving Father. Based in Kampala, Uganda, East Africa. Expert in live events; Conferences, Concerts, Corporate events, sports, weddings, Introduction ceremonies, and I shoot products and product campaign plus model portfolio. Art is been part of me for a long time and I have exhibited it in many different forms. Until around 2012 when I decided to put art to work, tracing my success from days of internet café business to the emerge of smart phone era working with KayeSoft as a lead graphics designer, I have grown and came to appreciate that the art in me can truly transform lives, put a smile on people for a lifetime.  In 2016 when I got a Nikon D800, it was like painting on blank canvas with high precision brush, Indeed was dream come true, and that is when I started the journey professional Photography, With knowledge and expertise I focus on three business streams:</p>
                    <a href="/Home/Contact" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-30px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right ml-0" aria-hidden="true"></i> Contact for</a>
            </div>
        </div>
    </div>
</section>

<section class="py-0 bg-light-gray wow fadeIn">
    <div class="container p-0">
        <div class="row m-0">
            <!-- start information item -->
            <div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
                <div class="feature-box-wrap">
                    <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../../images/homepage-3-parallax-img1.jpg)"></div>
                    <div class="w-100 small-screen sm-height-300px d-table arrow-top">
                        <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                            <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">We craft beautiful and unique digital experiences.</h6>
                            <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 sm-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end information item -->
            <!-- start information item -->
            <div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
                <div class="feature-box-wrap md-swap-block">
                    <div class="w-100 small-screen sm-height-300px d-table arrow-bottom">
                        <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                            <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">Unlimited power and customization possibilities.</h6>
                            <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 md-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
                        </div>
                    </div>
                    <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../../images/homepage-3-parallax-img2.jpg)"></div>
                </div>
            </div>
            <!-- end information item -->
            <!-- start information item -->
            <div class="col-12 col-lg-4 p-0 image-hover-style-3 h-100 last-paragraph-no-margin bg-light-gray">
                <div class="feature-box-wrap">
                    <div class="w-100 d-table position-relative cover-background small-screen sm-height-300px" style="background: url(../../images/homepage-3-parallax-img3.jpg)"></div>
                    <div class="w-100 small-screen sm-height-300px d-table arrow-top">
                        <div class="d-table-cell align-middle padding-eighteen-lr lg-padding-twelve-lr text-center md-padding-ten-lr sm-padding-seven-all">
                            <h6 class="text-extra-dark-gray alt-font width-95 mx-auto md-width-100 sm-margin-15px-bottom">Pixel perfect design & clear code delivered to you.</h6>
                            <p class="no-letter-spacing padding-two-lr line-height-26 sm-line-height-20 sm-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <span class="separator-line-horrizontal-medium-light2 bg-deep-pink d-inline-block margin-40px-top sm-margin-20px-top"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end information item -->
        </div>
    </div>
</section>
<section class="wow fadeIn py-2">
    <div class="container text-center">
        <div class="row">
            <div class="swiper-slider-clients swiper-container black-move wow fadeIn">
                <div class="swiper-wrapper">
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.envato.com/default.htm"><img src="~/images/logo-1.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.woocommerce.com/default.htm"><img src="~/images/logo-2.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.wordpress.com/default.htm"><img src="~/images/logo-3.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.magento.com/default.htm"><img src="~/images/logo-4.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.sass-lang.com/default.htm"><img src="~/images/logo-5.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.pingdom.com/default.htm"><img src="~/images/logo-6.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.lesscss.org/default.htm"><img src="~/images/logo-7.png" alt=""></a></div>
                    <!-- end slide -->
                    <!-- start slide -->
                    <div class="swiper-slide text-center"><a href="../../../https@www.jquery.com/default.htm"><img src="~/images/logo-8.png" alt=""></a></div>
                    <!-- end slide -->
                </div>
            </div>
        </div>
    </div>
</section>
