
@{
    ViewData["Title"] = "Blogs";
}
<!-- start blog slider section -->
<section class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-blog white-move">
                    <div class="swiper-wrapper">
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img1.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Everything you can imagine is real</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img2.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Do one thing every day that scares you</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img3.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Life is trying things to see if they work</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background: url(../../~/images/blog-slider-img4.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">The best revenge is massive success</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog slider section -->
