
@{
    ViewData["Title"] = "Blogs";
}
<!-- start blog slider section -->
<section class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-blog white-move">
                    <div class="swiper-wrapper">
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img1.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Everything you can imagine is real</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img2.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Do one thing every day that scares you</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../~/images/blog-slider-img3.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Life is trying things to see if they work</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background: url(../../~/images/blog-slider-img4.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">The best revenge is massive success</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog slider section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <main class="col-12 md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                <div class="d-flex flex-wrap">
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="/Home/blogDetail">
                                    <img src="~/images/blog-img15.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">17 july 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jay Benjamin</a></span>
                                <a href="/Home/blogDetail" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">I try to look at design from a more conceptual standpoint.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="/Home/blogDetail">
                                    <img src="~/images/blog-img16.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">03 July 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Herman Miller</a></span>
                                <a href="/Home/blogDetail" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Good design accelerates the adoption of new ideas.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="/Home/blogDetail">
                                    <img src="~/images/blog-img17.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">22 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Hugh Macleod</a></span>
                                <a href="/Home/blogDetail" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Design is inherently optimistic. That is its power.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="/Home/blogDetail">
                                    <img src="~/images/blog-img18.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">02 June 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Jennifer Freeman</a></span>
                                <a href="/Home/blogDetail" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">I wish someone would ask me to design a cathedral.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="blog-post-layout-05.html">
                                    <img src="~/images/blog-img19.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">13 May 2017 | by <a href="blog-masonry.html" class="text-medium-gray">Willie Clark</a></span>
                                <a href="blog-post-layout-05.html" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">Decisions are the frequent fabric of our daily design.</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                    <!-- start blog post item -->
                    <div class="col-12 col-md-4 col-sm-4 margin-50px-bottom last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post blog-post-style1 text-center text-md-left">
                            <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                <a href="/Home/blogDetail">
                                    <img src="~/images/blog-img20.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-details">
                                <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom">29 April 2017 | by <a href="blog-masonry.html" class="text-medium-gray">John Doe</a></span>
                                <a href="/Home/blogDetail" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100">The dreaded phrase in design circles is 'show and tell.'</a>
                                <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                <p class="width-90 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum text...</p>
                            </div>
                        </div>
                    </div>
                    <!-- end blog post item -->
                </div>
            </main>
        </div>
    </div>
</section>