
@{
    ViewData["Title"] = "Blogs";
}
<!-- start blog slider section -->
<section class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-blog white-move">
                    <div class="swiper-wrapper">
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../images/blog-slider-img1.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Everything you can imagine is real</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../images/blog-slider-img2.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Do one thing every day that scares you</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background:url(../../images/blog-slider-img3.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">Life is trying things to see if they work</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                        <!-- start blog slider item -->
                        <div class="swiper-slide width-50 lg-width-60 md-width-80 sm-width-100">
                            <div class="cover-background one-second-screen" style="background: url(../../images/blog-slider-img4.jpg)">
                                <div class="opacity-medium bg-extra-dark-gray"></div>
                                <div class="d-flex align-items-center width-100 height-100 text-center position-relative">
                                    <div class="col-12 col-xl-8 col-md-10 mx-auto slide-content">
                                        <a href="blog-grid.html" class="text-white-2 text-extra-small text-uppercase alt-font font-weight-600 highlight-bg-text letter-spacing-1 bg-black">Branding and Identity</a>
                                        <h4 class="mx-auto width-80 lg-width-100"><a href="/Home/blogDetail" class="font-weight-600 text-white-2 alt-font">The best revenge is massive success</a></h4>
                                        <a class="btn btn-small btn-transparent-white btn-rounded font-weight-700" href="/Home/blogDetail">Continue Reading<i class="ti-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog slider item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog slider section -->
<!-- start interactive banners section -->
<section class="wow fadeIn padding-30px-top pb-0">
    <div class="container-fluid">
        <div class="row padding-15px-lr sm-no-padding-lr">
            <!-- start interactive banners item -->
            <div class="col-12 col-lg-4 banner-style2 md-margin-30px-bottom wow fadeIn">
                <figure>
                    <div class="banner-image bg-black height-400px cover-background height-350px" style="background-image:url('~/images/about-author2.jpg');"></div>
                    <figcaption class="padding-seven-all bg-black-opacity last-paragraph-no-margin">
                        <div class="d-flex align-items-center width-100 height-100">
                            <div class="text-left">
                                <span class="text-medium-gray alt-font text-uppercase">About Me</span>
                                <span class="text-large font-weight-600 text-white-2 alt-font text-uppercase padding-15px-bottom d-block">About Author</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesett industry.</p>
                                <a href="about-me.html" class="btn btn-transparent-white btn-very-small margin-25px-top">About Me</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
            <!-- start interactive banners item -->
            <div class="col-12 col-lg-4 banner-style2 md-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s">
                <figure>
                    <div class="banner-image bg-black height-400px cover-background height-350px" style="background-image: url('~//contact-me2.jpg');"></div>
                    <figcaption class="padding-seven-all bg-black-opacity last-paragraph-no-margin">
                        <div class="d-flex align-items-center width-100 height-100">
                            <div class="text-left">
                                <span class="text-medium-gray alt-font text-uppercase">Contact</span>
                                <span class="text-large font-weight-600 text-white-2 alt-font text-uppercase padding-15px-bottom d-block">Contact Me</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesett industry.</p>
                                <a href="contact-us-modern.html" class="btn btn-transparent-white btn-very-small margin-25px-top">Contact Me</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
            <!-- start interactive banners item -->
            <div class="col-12 col-lg-4 banner-style2 wow fadeIn" data-wow-delay="0.4s">
                <figure>
                    <div class="banner-image bg-black height-400px cover-background height-350px" style="background-image: url('~/images/follow-instagram2.jpg');"></div>
                    <figcaption class="padding-seven-all bg-black-opacity last-paragraph-no-margin">
                        <div class="d-flex align-items-center width-100 height-100">
                            <div class="text-left">
                                <span class="text-medium-gray alt-font text-uppercase">Follow Me</span>
                                <span class="text-large font-weight-600 text-white-2 alt-font text-uppercase padding-15px-bottom d-block">Follow Instagram</span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesett industry</p>
                                <a href="instagram.html" class="btn btn-transparent-white btn-very-small margin-25px-top">Follow Me</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end interactive banners item -->
        </div>
    </div>
</section>
<!-- end interactive banners section -->
<!-- start blog section -->
<section class="wow fadeIn half-section">
    <div class="container">
        <div class="row">
            <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                <div class="d-flex flex-wrap hover-option4 blog-post-style3">
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-01.html">
                                    <img src="~/images/blog-img115.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-01.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">I find modernist design boring, but it so much faster!</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Jay Benjamin</a>&nbsp;&nbsp;|&nbsp;&nbsp;13 May 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-02.html">
                                    <img src="~/images/blog-img116.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-02.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Being a famous designer is like being a famous dentist.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Herman Miller</a>&nbsp;&nbsp;|&nbsp;&nbsp;29 April 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-03.html">
                                    <img src="~/images/blog-img120.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-03.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Designers are meant to be loved, not to be understood.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Hugh Macleod</a>&nbsp;&nbsp;|&nbsp;&nbsp;18 April 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-04.html">
                                    <img src="~/images/blog-img117.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-04.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Design is the conscious effort to impose a meaningful order.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Willie Clark</a>&nbsp;&nbsp;|&nbsp;&nbsp;31 March 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-01.html">
                                    <img src="~/images/blog-img118.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-01.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Good design is a lot like clear thinking made visual.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">John Doe</a>&nbsp;&nbsp;|&nbsp;&nbsp;09 March 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 margin-30px-bottom text-center text-md-left wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-02.html">
                                    <img src="~/images/blog-img35.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-02.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Design is as much an act of spacing as an act of marking.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Isaac Tobin</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 February 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 text-center text-md-left wow fadeInUp md-margin-30px-bottom">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-03.html">
                                    <img src="~/images/blog-img40.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-03.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Good design goes to heaven; bad design goes everywhere.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Jason Bourne</a>&nbsp;&nbsp;|&nbsp;&nbsp;14 January 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                    <!-- start post item -->
                    <div class="grid-item col-12 col-md-6 text-center text-md-left wow fadeInUp md-margin-30px-bottom" data-wow-delay="0.2s">
                        <div class="blog-post bg-light-gray inner-match-height">
                            <div class="blog-post-images overflow-hidden position-relative">
                                <a href="blog-post-layout-04.html">
                                    <img src="~/images/blog-img119.jpg" alt="">
                                    <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                </a>
                            </div>
                            <div class="post-details padding-40px-all md-padding-20px-all">
                                <a href="blog-post-layout-04.html" class="alt-font post-title text-medium text-extra-dark-gray width-100 d-block md-width-100 margin-15px-bottom">Good design is obvious. Great design is transparent.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <div class="author">
                                    <span class="text-medium-gray text-uppercase text-extra-small d-block d-lg-inline-block md-margin-10px-top">by <a href="blog-masonry.html" class="text-medium-gray">Amanda Holmes</a>&nbsp;&nbsp;|&nbsp;&nbsp;01 January 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </div>
                <!-- start slider pagination -->
                <div class="col-12 text-center margin-100px-top md-margin-50px-top wow fadeInUp">
                    <div class="pagination text-small text-uppercase text-extra-dark-gray">
                        <ul class="mx-auto">
                            <li><a href="#"><i class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i> Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end slider pagination -->
            </main>
            <aside class="col-12 col-lg-3 float-right">
                <div class="d-inline-block width-100 margin-45px-bottom sm-margin-25px-bottom">
                    <form>
                        <div class="position-relative">
                            <input type="text" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Enter your keywords...">
                            <button type="submit" class="bg-transparent  btn position-absolute right-0 top-1"><i class="fas fa-search ml-0"></i></button>
                        </div>
                    </form>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>About Me</span></div>
                    <a href="about-me.html"><img src="~/images/aside-image-1.jpg" alt="" class="margin-25px-bottom" /></a>
                    <p class="margin-20px-bottom text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.</p>
                    <a class="btn btn-very-small btn-dark-gray text-uppercase" href="about-me.html">About Author</a>
                </div>
                <div class="margin-50px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow Us</span></div>
                    <div class="social-icon-style-1 text-center">
                        <ul class="extra-small-icon">
                            <li><a class="facebook" href="../../../facebook.com/default.htm" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="../../../twitter.com/default.htm" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google" href="../../../google.com/default.htm" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="dribbble" href="../../../dribbble.com/default.htm" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                            <li><a class="linkedin" href="../../../linkedin.com/default.htm" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categories</span></div>
                    <ul class="list-style-6 margin-50px-bottom text-small">
                        <li><a href="blog-masonry.html">Arts and Entertainment</a><span>12</span></li>
                        <li><a href="blog-masonry.html">Blog</a><span>05</span></li>
                        <li><a href="blog-masonry.html">Blog Full width</a><span>08</span></li>
                        <li><a href="blog-masonry.html">Blog Grid</a><span>10</span></li>
                        <li><a href="blog-masonry.html">Branding</a><span>21</span></li>
                        <li><a href="blog-masonry.html">Design Tutorials</a><span>09</span></li>
                        <li><a href="blog-masonry.html">Designing</a><span>07</span></li>
                        <li><a href="blog-masonry.html">Feature</a><span>06</span></li>
                        <li><a href="blog-masonry.html">Home Blog</a><span>10</span></li>
                        <li><a href="blog-masonry.html">Onepage Fashion</a><span>11</span></li>
                        <li><a href="blog-masonry.html">Sample</a><span>06</span></li>
                    </ul>
                </div>
                <div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
                    <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
                    <span class="text-extra-large font-weight-300 margin-20px-bottom d-block">The future belongs to those who believe in the beauty of their dreams.</span>
                    <a class="btn btn-very-small btn-transparent-white border-width-1 text-uppercase" href="portfolio-boxed-grid-overlay.html">Explore Portfolio</a>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Popular post</span></div>
                    <ul class="latest-post position-relative">
                        <li class="media">
                            <figure>
                                <a href="blog-post-layout-01.html"><img src="~/images/aside-image-2.jpg" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-01.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Traveling abroad will change you forever</span></a> <span class="clearfix text-medium-gray text-small">April 30, 2016</span></div>
                        </li>
                        <li class="media">
                            <figure>
                                <a href="blog-post-layout-03.html"><img src="~/images/aside-image-3.jpg" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-03.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Having a new perspec-tive on new york city</span></a> <span class="clearfix text-medium-gray text-small">March 10, 2016</span></div>
                        </li>
                        <li class="media">
                            <figure>
                                <a href="blog-post-layout-04.html"><img src="~/images/aside-image-4.jpg" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-04.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">The incredible talents of street performers</span></a> <span class="clearfix text-medium-gray text-small">March 05, 2016</span></div>
                        </li>
                        <li class="media">
                            <figure>
                                <a href="blog-post-layout-05.html"><img src="~/images/aside-image-5.jpg" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-05.html" class="text-extra-dark-gray"><span class="d-block margin-5px-bottom">Praesent placerat risus quis eros</span></a> <span class="clearfix text-medium-gray text-small">March  01, 2016</span></div>
                        </li>
                    </ul>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>tags cloud</span></div>
                    <div class="tag-cloud">
                        <a href="blog-grid.html">ADVERTISEMENT</a>
                        <a href="blog-grid.html">ARTISTRY</a>
                        <a href="blog-grid.html">BLOG</a>
                        <a href="blog-grid.html">CONCEPTUAL</a>
                        <a href="blog-grid.html">DESIGN</a>
                        <a href="blog-grid.html">FASHION</a>
                        <a href="blog-grid.html">INSPIRATION</a>
                        <a href="blog-grid.html">SMART</a>
                        <a href="blog-grid.html">QUOTES</a>
                        <a href="blog-grid.html">UNIQUE</a>
                        <a href="blog-grid.html">CONCEPTS</a>
                    </div>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Archive</span></div>
                    <ul class="list-style-6 margin-20px-bottom text-small">
                        <li><a href="blog-grid.html">July 2017</a><span>12</span></li>
                        <li><a href="blog-grid.html">June 2017</a><span>05</span></li>
                        <li><a href="blog-grid.html">May 2017</a><span>08</span></li>
                        <li><a href="blog-grid.html">April 2017</a><span>10</span></li>
                        <li><a href="blog-grid.html">March 2017</a><span>21</span></li>
                        <li><a href="blog-grid.html">February 2017</a><span>09</span></li>
                        <li><a href="blog-grid.html">January 2017</a><span>07</span></li>
                    </ul>
                </div>
                <div class="margin-45px-bottom sm-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Newsletter</span></div>
                    <div class="d-inline-block width-100">
                        <form>
                            <div class="position-relative">
                                <input type="email" class="bg-transparent text-small m-0 border-color-extra-light-gray medium-input float-left" placeholder="Enter your email...">
                                <button type="submit" class="bg-transparent text-large btn position-absolute right-0 top-3"><i class="far fa-envelope ml-0"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Instagram</span></div>
                    <div class="instagram-follow-api">
                        <ul id="instaFeed-aside"></ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- end blog section -->