@{
    ViewData["Title"] = "Home Page";
}
<section class="wow fadeIn no-padding one-second-screen position-relative parallax sm-background-image-center bg-black" data-wow-delay="0.2s" data-stellar-background-ratio="0.5" style="background-image:url('../../images/homepage-9-parallax.jpg');">
    <div class="container">
        <div class="row">
            <div class="slider-typography">
                <div class="slider-text-middle-main">
                    <div class="slider-text-middle">
                        <div class="col-12 col-lg-8 col-md-10 mx-auto text-center">
                            <h2 class="font-weight-600 alt-font margin-40px-bottom md-margin-20px-bottom text-white letter-spacing-minus-1">A creative photographer, filmmaker and Graphics Design guru based in Kampala Uganda, East Africa.</h2>
                            <div class="social-icon-style-8">
                                <ul class="small-icon">
                                    <li><a class="facebook text-deep-pink margin-5px-lr" href="../../../https@www.facebook.com/default.htm" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter text-deep-pink margin-5px-lr" href="../../../https@twitter.com/default.htm" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="dribbble text-deep-pink margin-5px-lr" href="../../../https@instagram.com/default.htm" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down-section text-lg-center text-sm-left sm-margin-35px-left">
                        <a href="#portifolio" class="inner-link"><i class="ti-arrow-down icon-small text-deep-pink"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start photo gallery section -->
<section id="portifolio" class="p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0 lightbox-portfolio">
                <div id="justified" class="justified-gallery">
                    <!-- start gallery item -->
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <a href="~/images/branding 3.jpg" class="gallery-link"><img src="~/images/branding 3.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <a href="~/images/branding 2.jpg" class="gallery-link"><img src="~/images/branding 2.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/branding 1.jpg" class="gallery-link"><img src="~/images/branding 1.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/portfolio-item54.jpg" class="gallery-link">
                            <img src="~/images/portfolio-item54.jpg" alt="Uganda Law Society House Dinner at Serena hotel">
                        </a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class="wow fadeInRight" data-wow-delay="0.3s">
                        <a href="~/images/portfolio-item1.jpg" class="gallery-link"><img src="~/images/portfolio-item1.jpg" alt="The 3rd Annual Law Conference"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item2.jpg" class="gallery-link"><img src="~/images/portfolio-item2.jpg" alt="Patrick Bitatule _Building lasting Legacies. _the 3rd Annual law conference"></a>
                    </div>
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item61.jpg" class="gallery-link"><img src="~/images/portfolio-item95.jpg" alt="Emphasizing the importance of Sports at early age-Malaika Kindergarten & Primary School"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item61.jpg" class="gallery-link"><img src="~/images/portfolio-item93.jpg" alt="Creating cancer awereness is every individual role to render to society we live in."></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item60.jpg" class="gallery-link"><img src="~/images/portfolio-item60.jpg" alt="Started  her journey as a Girl guide."></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item61.jpg" class="gallery-link"><img src="~/images/portfolio-item61.jpg" alt="Uganda guide association Fundraising dinner"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item62.jpg" class="gallery-link"><img src="~/images/portfolio-item62.jpg" alt="50 years serving as girl guide Association."></a>
                    </div>
                    <!-- end gallery item -->

                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item13.jpg" class="gallery-link"><img src="~/images/portfolio-item13.jpg" alt="Story of the future real Estate Business. Pearl Marina Estates"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item43.jpg" class="gallery-link"><img src="~/images/portfolio-item43.jpg" alt="Story of the future real Estate Business. Pearl Marina Estates"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item12.jpg" class="gallery-link"><img src="~/images/portfolio-item12.jpg" alt="Story of the future real Estate Business. Pearl Marina Estates"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item5.jpg" class="gallery-link"><img src="~/images/portfolio-item5.jpg" alt="Shaping and entertaining the world through Culture. Rockie Troupe Uganda"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item6.jpg" class="gallery-link"><img src="~/images/portfolio-item6.jpg" alt="Kabaka Muwenda Walugembe Mutebi II's 25th Coronation Aniversary 2018"></a>
                    </div>
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item7.jpg" class="gallery-link"><img src="~/images/portfolio-item7.jpg" alt="Kabaka Muwenda Walugembe Mutebi II's 25th Coronation Aniversary 2018"></a>
                    </div>
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item9.jpg" class="gallery-link"><img src="~/images/portfolio-item9.jpg" alt="Kabaka Muwenda Walugembe Mutebi II's 25th Coronation Aniversary 2018"></a>
                    </div>
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item8.jpg" class="gallery-link"><img src="~/images/portfolio-item8.jpg" alt="Kabaka Muwenda Walugembe Mutebi II's 25th Coronation Aniversary 2018"></a>
                    </div>

                    <!-- end gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item10.jpg" class="gallery-link"><img src="~/images/portfolio-item10.jpg" alt="Kabaka Muwenda Walugembe Mutebi II's 25th Coronation Aniversary 2018"></a>
                    </div>
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item63.jpg" class="gallery-link"><img src="~/images/portfolio-item63.jpg" alt="It was a yes for Jonathan"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item65.jpg" class="gallery-link"><img src="~/images/portfolio-item65.jpg" alt="Memories full yeses' Jonathan will always have a story to tell"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item64.jpg" class="gallery-link"><img src="~/images/portfolio-item64.jpg" alt="Engagement party"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item44.jpg" class="gallery-link"><img src="~/images/portfolio-item44.jpg" alt="Portait photography"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow fadeInUp" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item45.jpg" class="gallery-link"><img src="~/images/portfolio-item45.jpg" alt="Princess Catherine taking a photo of Dad."></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item46.jpg" class="gallery-link"><img src="~/images/portfolio-item46.jpg" alt="Portait photography"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/portfolio-item47.jpg" class="gallery-link"><img src="~/images/portfolio-item47.jpg" alt="In the middle Melisa Ashley, 11 year Entrepreneur with a clothing line"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item48.jpg" class="gallery-link"><img src="~/images/portfolio-item48.jpg" alt="For the love of Sports"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item53.jpg" class="gallery-link"><img src="~/images/portfolio-item53.jpg" alt="Photographing Men series."></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item49.jpg" class="gallery-link"><img src="~/images/portfolio-item49.jpg" alt="Branding Identity"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/portfolio-item50.jpg" class="gallery-link"><img src="~/images/portfolio-item50.jpg" alt="Focus on what is important in your frame, Model Queen Bagaya Elizabeth. Miss Tourism Bunyoro"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item51.jpg" class="gallery-link"><img src="~/images/portfolio-item51.jpg" alt="The magic is God's creation, Get one place to photograph each day and time of day you will be surprise of the results"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item57.jpg" class="gallery-link"><img src="~/images/portfolio-item57.jpg" alt="Spend a beautiful evening on Kabaka's Lake"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/portfolio-item58.jpg" class="gallery-link"><img src="~/images/portfolio-item58.jpg" alt="importants of birds and the important of parent birds"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/portfolio-item4.jpg" class="gallery-link"><img src="~/images/portfolio-item4.jpg" alt="Macro photography - Drogon fly"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item3.jpg" class="gallery-link"><img src="~/images/portfolio-item3.jpg" alt="Macro photography - Drogon fly"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow">
                        <a href="~/images/designer.jpg" class="gallery-link"><img src="~/images/designer.jpg" alt="Designer"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item55.jpg" class="gallery-link"><img src="~/images/portfolio-item55.jpg" alt="Focusing at the future"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item56.jpg" class="gallery-link"><img src="~/images/portfolio-item56.jpg" alt="Personal Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item97.jpg" class="gallery-link"><img src="~/images/portfolio-item97.jpg" alt="Graphic Design"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item98.jpg" class="gallery-link"><img src="~/images/portfolio-item98.jpg" alt="Web Interactive"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item99.jpg" class="gallery-link"><img src="~/images/portfolio-item99.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <div class=" wow" data-wow-delay="0.2s">
                        <a href="~/images/portfolio-item100.jpg" class="gallery-link"><img src="~/images/portfolio-item100.jpg" alt="Graphic Design"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item101.jpg" class="gallery-link"><img src="~/images/portfolio-item101.jpg" alt="Web Interactive"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item102.jpg" class="gallery-link"><img src="~/images/portfolio-item102.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.4s">
                        <a href="~/images/portfolio-item89.jpg" class="gallery-link"><img src="~/images/portfolio-item89.jpg" alt="Web Interactive"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item90.jpg" class="gallery-link"><img src="~/images/portfolio-item90.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item94.jpg" class="gallery-link"><img src="~/images/portfolio-item94.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item104.jpg" class="gallery-link"><img src="~/images/portfolio-item104.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item103.jpg" class="gallery-link"><img src="~/images/portfolio-item103.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item106.jpg" class="gallery-link"><img src="~/images/portfolio-item106.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                    <!-- start gallery item -->
                    <div class=" wow" data-wow-delay="0.6s">
                        <a href="~/images/portfolio-item115.jpg" class="gallery-link"><img src="~/images/portfolio-item115.jpg" alt="Digital Branding"></a>
                    </div>
                    <!-- end gallery item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end photo gallery section -->
<!-- start testimonial section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row ">
            <div class="swiper-slider-third swiper-pagination-bottom swiper-container black-move testimonial-style2 text-center padding-35px-bottom md-padding-50px-bottom sm-padding-30px-bottom wow fadeIn">
                <div class="swiper-wrapper">
                    <!-- start testimonial item -->
                    <div class="swiper-slide">
                        <div class="row justify-content-center m-0">
                            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                                <div class="testimonia-block width-90 sm-width-100 mx-auto">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 sm-padding-20px-all">
                                        <p>Trust us we looked for a very long time and wasted thousands of dollars testing other teams, freelancers, and outsource companies. I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                                    </div>
                                    <div class="profile-box">
                                        <img src="images/avtar-07.jpg" alt="" class="width-20 rounded-circle border-color-white border-width-4 border-all margin-15px-bottom sm-no-margin-bottom">
                                        <div class="w-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Alexander Harvard</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Graphic Designer, Google inc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="swiper-slide">
                        <div class="row justify-content-center m-0">
                            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                                <div class="testimonia-block width-90 sm-width-100 mx-auto">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 sm-padding-20px-all">
                                        <p>Trust us we looked for a VERY long time and wasted thousands of dollars testing other teams, freelancers, and outsource companies. I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                                    </div>
                                    <div class="profile-box">
                                        <img src="images/avtar-08.jpg" alt="" class="width-20 rounded-circle border-color-white border-width-4 border-all margin-15px-bottom sm-no-margin-bottom">
                                        <div class="w-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Alexander Harvard</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Graphic Designer, Google inc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                    <!-- start testimonial item -->
                    <div class="swiper-slide">
                        <div class="row justify-content-center m-0">
                            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                                <div class="testimonia-block width-90 sm-width-100 mx-auto">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 sm-padding-20px-all">
                                        <p>Trust us we looked for a very long time and wasted thousands of dollars testing other teams, freelancers, and outsource companies. I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.</p>
                                    </div>
                                    <div class="profile-box last-paragraph-no-margin">
                                        <img src="images/avtar-09.jpg" alt="" class="width-20 rounded-circle border-color-white border-width-4 border-all margin-15px-bottom sm-no-margin-bottom">
                                        <div class="w-100">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Alexander Harvard</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Graphic Designer, Google inc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end testimonial item -->
                </div>
                <div class="swiper-pagination swiper-pagination-third"></div>
                <div class="swiper-button-next slider-long-arrow-white d-none"></div>
                <div class="swiper-button-prev slider-long-arrow-white d-none"></div>
            </div>
        </div>
    </div>
</section>
<!-- end testimonial section -->
<!-- start clients slider section -->
<section class="wow fadeIn p-0">
    <div class="container text-center">
        <div class="swiper-slider-clients swiper-container black-move">
            <div class="swiper-wrapper">
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-1.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-2.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-3.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-4.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-5.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-6.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-7.png" alt=""></div><!-- end client slider item -->
                <!-- start client slider item --><div class="swiper-slide text-center"><img src="images/logo-8.png" alt=""></div><!-- end client slider item -->
            </div>
        </div>
    </div>
</section>