/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
header a.logo img {
    max-height: 80px;
}

header.sticky nav.navbar.navbar-default.navbar-fixed-top ul.nav > li > a, header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a {
    padding: 36px 0;
}

nav.navbar.navbar-default ul.nav > li > a {
    padding: 36px 0;
}

@media (max-width: 991px){ .sticky nav .accordion-menu{ 
    padding: 36px 15px 36px 15px;

                           }

}
.slider-text-middle-main {
    padding: 1rem 0;
}

.bg-black, .background-black {
    background-color: #00092b;
}
.text-deep-pink, .btn.text-deep-pink {
    color: #ed1c24;
}

.navbar-default .navbar-toggler .icon-bar, header.sticky .navbar-default.header-light .navbar-toggler .icon-bar, header.sticky .navbar-default.header-light-transparent .navbar-toggler .icon-bar {
    background: #00092b !important;
}
.header-social-icon a {
    color: #00092b !important;
}

nav.navbar.bootsnav li.dropdown .mega-menu-full {
    background-color: rgba(0, 9, 43, 0.9) !important;
}
nav.navbar.bootsnav li.dropdown .menu-back-div > ul {
    background:transparent !important;
}

.down-section {
    bottom: 2em !important;
}

body.mfp-zoom-out-cur{
    top:80px
}
    .mfp-fade.mfp-bg.mfp-ready {
        top: 85px;
    }
    .mfp-wrap {
        top: 85px;
    }
.mfp-bg {
    background: #00092b;
}
body {
    font-family: 'Philosopher', sans-serif !important;
    font-size:16px;
}
